@model College_library_management_system.Models.UserTable

@{
    ViewBag.Title = "CreateUser";
}

<style>
    body {
        background-image: url("https://th.bing.com/th/id/OIP.Bgtp1VKj8Osvy49-vKm-xwHaFj?pid=ImgDet&rs=1")
    }

    div.background {
        background: url(klematis.jpg) repeat;
        border: 2px solid black;
    }

    div.transbox {
        margin: 20px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.7;
        font-weight: bold;
        color: #000000;
    }

    h2 {
        background-color: black;
        color: white;
    }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <h3 style="color:white;">Library Dashboard</h3>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="padding-top:10px;">
                    <li></li>
                    <li style="color:burlywood;">@Html.ActionLink("Add Books", "CreateBooks", "AdminDashboard")</li>
                    <li style="color:burlywood;">@Html.ActionLink("View Request", "IndexRequest", "RequestBooks")</li>
                    <li style="color:burlywood;">@Html.ActionLink("Home", "Index", "AdminDashboard")</li>


                    <li> </li>
                    <li> </li>
                    <li>
                    </li>
                    <li>@Html.ActionLink("Logout", "Login", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2>CreateUser</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="background">
                <div class="transbox">
                    <br />
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserRole, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserRole, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
                window.location = "IndexUser";
            };
        </script>
    }
</body>

       