@model College_library_management_system.Models.SignIn

@{
    ViewBag.Title = "SignUp";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!----MyStyle--
    <link rel="stylesheet" href="css/MyStyle.css">-->

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/SignInCss.css">
        #Role {
            float: left;
            position: relative;
        }

        #rolelabel {
            padding-right: 40px;
            font-size: 25px;
            font-weight: 400;
            color: #495057;
            font-family:inherit;
        }
        .btn{
            float:right;
            padding-right:50px;
            
        }
        .btn-primary{
            background-color:grey;
        }
        .btn-primary:hover{
            background-color:black;
        }
      
    <title>LIBRARY_MANAGEMENT_LOG-IN</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src=https://www.iitms.co.in/images/Library-Management-System.webp" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>New User?</h4>
                                    <h3>Sign Up</h3>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserRole, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.UserRole, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="btn">
                                            <input type="submit" value="Create" class="formButton btn-primary" id="btn-alert" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn">
                                        @Html.ActionLink("Back to login", "Login")
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
                window.location = "Login";
            };
        </script>
    }

</body>>
</html>


                              

